#app {
  font-family: "Helvetica Neue", sans-serif;
  color: rgb(72, 72, 72);
}

.listing-title {
  display: flex;
  justify-content: space-between;
}

.title-name {
  font-size: xx-large;
  font-weight: bold;
  margin: 23px 0px;
}

.owner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner-image {
  height: 6vh;
  width: 6vh;
  min-height: 2.75rem;
  min-width: 2.75rem;
  border-radius: 50%;
}

.listing-size {
  display: flex;
  margin-bottom: 16px;
}

.size {
  margin: 0px 10px;
}

.guests{
  margin-left: 0px;
}

.highlight-title {
  display: flex;
}

.highlights {
  margin: 18px 0px;
}

.title-small {
  margin-left: 15px;
  font-weight: bold;
}

.fa-spray-can {
  margin-left: 2px;
  margin-right: 4px;
  margin-top: 2px;
}

.fa-map-marker-alt {
  margin-right: 7px;
  margin-top: 3px;
  margin-left: 2px;
}

.fa-key {
  transform: rotate(280deg);
  margin-left: 4px;
}

.fa-door-open {
  margin-right: 3px;
  margin-top: 2px;
}

.fa-medal {
  margin-top: 3px;
  margin-right: 6px;
}

.fa-house-user {
  margin-right: 5px;
  margin-top: 2px;
}

.fas {
  font-size: small;
}

.highlight-text {
  margin-left: 35px;
  margin-top: 5px;
  margin-bottom: 19px;
}

.show-more {
  font-size: inherit;
  background-color: transparent;
  border: none;
  color: #008489;
  font-weight: bold;
  padding: 0px;
}

.button-text {
  display: flex;
}

.show:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hide:hover {
  text-decoration: underline;
  cursor: pointer;
}

.fa-chevron-down {
  margin-top: 3px;
  margin-left: 7px;
}

.fa-chevron-up {
  margin-top: 3px;
  margin-left: 7px;
  text-decoration: none;
}

.location {
  margin-bottom: 36px;
}

.description {
  margin-top: 40px;
  margin-bottom: 18px;
  line-height: 22px;
}

.info-break {
  background-color: #EBEBEB;
  width: 100%;
  height: 1px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.contact {
  font-size: inherit;
  background-color: transparent;
  border: none;
  color: #008489;
  font-weight: bold;
  padding: 0px;
  margin: 29px 0px;
}

.contact:hover {
  text-decoration: underline;
  cursor: pointer;
}

.moreInfo {
  margin-bottom: 21px;
  line-height: 22px;
}