.listing-title {
  display: flex;
  justify-content: space-between;
}

.title-name {
  font-size: xx-large;
  font-weight: bold;
}

.owner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owner-image {
  height: 7vh;
  width: 7vh;
  min-height: 4vh;
  min-width: 4vh;
  border-radius: 50%;
}

.listing-size {
  display: flex;
}

.size {
  margin: 0px 10px;
}

.guests{
  margin-left: 0px;
}

